.navbar-brand{
    background-color:lightseagreen;
    color:white;
    font-size: 30px;
}

.navbar-light .navbar-brand {
    color: white;
    font-style:sans-serif;
  }


   #navbarSupportedContent {
    position: absolute;
    right: 5%;
    font-size: small;
  }
    